[submodule "/home/franek/Documents/stm32-cubemx/stm32-cubemx-mpu6050/app/utility"]
	path = /home/franek/Documents/stm32-cubemx/stm32-cubemx-mpu6050/app/utility
	url = https://github.com/franciszekjanicki/stm32-utility.git
[submodule "/home/franek/Documents/stm32_cubemx/stm32l476rg/stm32_cubemx_mpu6050/app/utility"]
	path = /home/franek/Documents/stm32_cubemx/stm32l476rg/stm32_cubemx_mpu6050/app/utility
	url = https://github.com/franciszekjanicki/utility.git
[submodule "/home/franek/Documents/stm32_cubemx/stm32l476rg/stm32_cubemx_mpu6050/app/stm32_utility"]
	path = /home/franek/Documents/stm32_cubemx/stm32l476rg/stm32_cubemx_mpu6050/app/stm32_utility
	url = https://github.com/franciszekjanicki/stm32_utility.git
